In [1]:
import pandas as pd
import numpy as np
import mysql.connector
from pyspark.sql import SparkSession

Drop Business Table if Exists

In [3]:
db_connection = mysql.connector.connect(user="admin", password="yeet")
db_cursor = db_connection.cursor()
db_cursor.execute("USE cs179g;")
db_cursor.execute("DROP TABLE IF EXISTS Business;")

Load Json file into Pandas Dataframe and then iterate through it to insert into MYSQL Table (Business).

In [4]:
# Test CSV file read with Pandas (not required in this project)
businessData = pd.read_json("/home/ubuntu/data/yelp_academic_dataset_business.json", lines=True)
businessData = businessData.fillna("Empty Value")

# Create a table in MySQL and run a simple SELECT query to verify
db_connection = mysql.connector.connect(user="admin", password="yeet")
db_cursor = db_connection.cursor()
db_cursor.execute("USE cs179g;")


# db_cursor.execute("CREATE TABLE IF NOT EXISTS Business(business_id VARCHAR(255), name VARCHAR(255), \
#                    address VARCHAR(255), city VARCHAR(255), state VARCHAR(255), \
#                    postal_code VARCHAR(255), latitide VARCHAR(255), longitude VARCHAR(255), stars VARCHAR(255), \
#                    review_count VARCHAR(255), is_open VARCHAR(255), attributes VARCHAR(255), categories VARCHAR(255), hours VARCHAR(255));")

db_cursor.execute("CREATE TABLE IF NOT EXISTS Business(business_id VARCHAR(255), name VARCHAR(255), \
                    address VARCHAR(255), city VARCHAR(255), state VARCHAR(255), \
                    postal_code VARCHAR(255), latitide VARCHAR(255), longitude VARCHAR(255), stars VARCHAR(255), \
                    review_count VARCHAR(255), is_open VARCHAR(255), attributes VARCHAR(600), categories VARCHAR(255), hours VARCHAR(255));")


for index, row in businessData.iterrows():
    temp2 = []
    for i in row:
        if(len(str(i)) > 255):
            temp = str(i)
            temp = temp[:255]
            temp2.append(str(temp))
        else:
            temp2.append(str(i))
            
        
    temp2 = tuple(temp2)
    # temp1 = (str(row["business_id"]), str(row["name"]))

    # if entry.endswith(', '):
    #     entry = entry[:-2]
    # try:
    command = "INSERT INTO Business (business_id, name, address, city, state, postal_code, latitide, longitude, stars, review_count, is_open, attributes, categories, hours) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"
    db_cursor.execute(command, temp2)
    # except mysql.connector.Error as error:
    #     print("Failed to insert into MySQL table {}".format(error))
 



                #    address, city, state, \
                #    postal_code, latitide, longitude , stars, \
                #    review_count, is_open, attributes, categories, hours) VALUES " + entry + ";")
    # db_cursor.execute("INSERT INTO Business(business_id)" + entry + ";")

# for bt in business_tuples[0:1]:
#     tempString = ""
#     for b in bt:
#         b = str(b)
#         b = b.replace("," , "\,")
#         tempString += "\'" + (b) + "\',"
#     print(tempString)

# db_cursor.execute("FLUSH TABLES;")
# db_cursor.execute("SELECT * FROM Business LIMIT 5;")
# print(db_cursor.fetchall())



# spark = SparkSession.builder.config("spark.jars", "/usr/share/java/mysql-connector-j-8.0.31.jar") \
#     .master("local").appName("PySpark_MySQL_test").getOrCreate()

# business_df = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/cs179g") \
#     .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "Business") \
#     .option("user", "admin").option("password", "yeet").load()
# print(business_df)

In [5]:
db_cursor.execute("FLUSH TABLES;")
db_cursor.execute("SELECT * FROM Business LIMIT 5;")
print(db_cursor.fetchall())

[('Pns2l4eNsfO8kk83dixA6A', 'Abby Rappoport, LAC, CMQ', '1616 Chapala St, Ste 2', 'Santa Barbara', 'CA', '93101', '34.4266787', '-119.7111968', '5.0', '7', '0', "{'ByAppointmentOnly': 'True'}", 'Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists', 'Empty Value'), ('mpf3x-BjTdTEA3yCZrAYPw', 'The UPS Store', '87 Grasso Plaza Shopping Center', 'Affton', 'MO', '63123', '38.551126', '-90.335695', '3.0', '15', '1', "{'BusinessAcceptsCreditCards': 'True'}", 'Shipping Centers, Local Services, Notaries, Mailbox Centers, Printing Services', "{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', 'Wednesday': '8:0-18:30', 'Thursday': '8:0-18:30', 'Friday': '8:0-18:30', 'Saturday': '8:0-14:0'}"), ('tUFrWirKiKi_TAnsVWINQQ', 'Target', '5255 E Broadway Blvd', 'Tucson', 'AZ', '85711', '32.223236', '-110.880452', '3.5', '22', '0', '{\'BikeParking\': \'True\', \'BusinessAcceptsCreditCards\': \'True\', \'RestaurantsPriceRange2\': \'2\', \'CoatCheck\': \'False\', \'RestaurantsTakeOut\': \'False\', \'RestaurantsDelivery\': \'False\', \'Caters\': \'False\', \'WiFi\': "u\'no\'", \'BusinessParking\': "{\'garage\': False, \'st', 'Department Stores, Shopping, Fashion, Home & Garden, Electronics, Furniture Stores', "{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', 'Wednesday': '8:0-22:0', 'Thursday': '8:0-22:0', 'Friday': '8:0-23:0', 'Saturday': '8:0-23:0', 'Sunday': '8:0-22:0'}"), ('MTSW4McQd7CbVtyjqoe9mw', 'St Honore Pastries', '935 Race St', 'Philadelphia', 'PA', '19107', '39.9555052', '-75.1555641', '4.0', '80', '1', '{\'RestaurantsDelivery\': \'False\', \'OutdoorSeating\': \'False\', \'BusinessAcceptsCreditCards\': \'False\', \'BusinessParking\': "{\'garage\': False, \'street\': True, \'validated\': False, \'lot\': False, \'valet\': False}", \'BikeParking\': \'True\', \'RestaurantsPriceRange2\': \'', 'Restaurants, Food, Bubble Tea, Coffee & Tea, Bakeries', "{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', 'Wednesday': '7:0-20:0', 'Thursday': '7:0-20:0', 'Friday': '7:0-21:0', 'Saturday': '7:0-21:0', 'Sunday': '7:0-21:0'}"), ('mWMc6_wTdE0EUBKIGXDVfA', 'Perkiomen Valley Brewery', '101 Walnut St', 'Green Lane', 'PA', '18054', '40.3381827', '-75.4716585', '4.5', '13', '1', '{\'BusinessAcceptsCreditCards\': \'True\', \'WheelchairAccessible\': \'True\', \'RestaurantsTakeOut\': \'True\', \'BusinessParking\': "{\'garage\': None, \'street\': None, \'validated\': None, \'lot\': True, \'valet\': False}", \'BikeParking\': \'True\', \'GoodForKids\': \'True\', \'Cate', 'Brewpubs, Breweries, Food', "{'Wednesday': '14:0-22:0', 'Thursday': '16:0-22:0', 'Friday': '12:0-22:0', 'Saturday': '12:0-22:0', 'Sunday': '12:0-18:0'}")]